@font-face {
    font-family: 'BIRTH_OF_A_HERO';
    src: url('./BIRTH_OF_A_HERO.ttf');
}
h4{
    font-family: 'BIRTH_OF_A_HERO';
    font-weight: 200;
    color:#0ccac4;
    font-size:100px;
    margin:1px;
}
/* width */
::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
p{
  font-weight: 700;
}